.UserUndsen{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size:30px;
    text-align: right;
}
.UserUndsen h1{
    font-weight: 600;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-right:100px;
    color:#05430f;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.UserUndsen p{
    color:#57eb0d;
    margin-right: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}   
